<!-- profiles/templates/profiles/homepage.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>

<h2>Welcome to the LinkPad</h2>

<p>This is the LinkPad homepage and Module 1 is complete. Frontend Design, module 2, 3 and 5 are in progress.</p>

<p>Explore the profiles:
    
    {% if user.is_authenticated %}
        <a href="{% url 'profiles:login' %}">Profile</a>,
        <a href="{% url 'messaging:messages' %}">Messages</a>,
        <a href="{% url 'profiles:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'profiles:signup' %}">Sign Up</a>,
        <a href="{% url 'profiles:login' %}">Log In</a>,
    {% endif %}
</p>

<!-- Add links to other views/templates as needed -->
<p>Explore other features:
    <a href="{% url 'profiles:clubs' %}">Clubs</a>,
    <a href="{% url 'profiles:notices' %}">Notices</a>,
    <a href="{% url 'profiles:events' %}">Events</a>,
    <a href="{% url 'profiles:alumni_stories' %}">Alumni Stories</a>,
    <a href="{% url 'profiles:internship_jobs' %}">Internship and Jobs</a>,
    <a href="{% url 'profiles:discussion_forums' %}">Discussion Forums</a>
</p>

</body>
</html>